<div class="row">
  <div class="col-lg-8">
    <h2 class="h4 text-gray-900 mb-4"><%= "#{action_message} #{@question.model_name.human}" %></h2>

    <% if @question.errors.any? %>
      <% @question.errors.full_messages.each do |message| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <span><%= message %></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    <% end %>

    <%= form_with(model: [ :admins_backoffice, @question ], local: true) do |form| %>
      <div class="form-group">
        <%= form.label :subject_id, t('activerecord.attributes.question.subject') %>
        <%= form.collection_select  :subject_id, @subjects, :id, :description, {},
                                    { class: 'form-control',
                                    placeholder: t('activerecord.attributes.question.subject') } %>
      </div>
      <div class="form-group">
        <%= form.text_area  :description, 
                            class: 'form-control',
                            autofocus: true,
                            placeholder: @question_description,
                            rows: 5 %>
      </div>
      <div id="answers" class="my-3">
        <%= form.fields_for :answers do |answer| %>
          <%= render partial: 'answer_fields', locals: { f: answer } %>

        <% end %>

        <span><%= t('links.add', item: t('activerecord.models.answer.one')) %></span>
        <%= link_to_add_association form, :answers, class: 'btn btn-success btn-circle btn-sm ml-2' do %>
          <i class="fa fa-plus"></i>
        <% end %>
      </div>
      <%= form.submit t('actions.save'), class: 'btn btn-primary col-sm-12 col-lg-3' %>
      <%= link_to t('links.back'), 
          admins_backoffice_questions_path,
          class: 'btn btn-secondary col-sm-12 col-lg-3 mt-sm-2 mt-lg-0 ml-lg-2' %>
      <div class="row">
        <div class="col-sm-12 col-lg-3">
        </div>
      </div>
    <% end %>
  </div>
</div>
