<div class="login_wrapper">
  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <h1><%= t 'texts.change_your_password' %></h1>

      <div>
        <%= f.password_field :password, autofocus: true, placeholder: t('texts.new_password'),
                          class: 'form-control' %>
      </div>

      <div>
        <%= f.password_field :password_confirmation, autofocus: true, placeholder: t('texts.confirm_new_password'),
                          class: 'form-control' %>
      </div>

      <%= f.submit t('actions.change', item: t('activerecord.attributes.user.password')), class: 'btn btn-default submit' %>

      <div class="clearfix"></div>

      <div class="separator">
        <p class="change_link">
          <%= render "users/shared/links" %>
        </p>
      </div>
    <% end %>
  </section>
</div>
