<h2><%= t 'roles.managers' %></h2>
<p><%= t 'panels.administrative_backoffice.subtitle' %></p>
<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <% items = ['#', Admin.human_attribute_name('email'), I18n.t('verbs.actions')] %>

  <thead>
    <tr role="row">
    <% items.each do |item| %>
      <th class="sorting sorting_asc text-center" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
      >
        <%= item %>
      </th>
    <% end %>
    </tr>
  </thead>
  <tfoot>
    <tr>
    <% items.each do |item| %>
      <th class="text-center" rowspan="1" colspan="1"><%= item %></th>
    <% end %>
    </tr>
  </tfoot>
  <tbody>
    <% @admins.each do |admin| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="sorting_1 d-flex justify-content-center"><%= admin.id %></td>
        <td><%= admin.email %></td>
        <td class="w-100 d-flex justify-content-center">
          <%= link_to edit_admins_backoffice_admin_path(admin), class: 'btn btn-success btn-circle btn-sm' do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <a href="#" class="btn btn-danger btn-circle btn-sm ml-2">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
