<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Time to Answer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'site' %>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="<%= root_path %>">Time to Answer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to users_backoffice_welcome_index_path, class: 'dropdown-item' do %>
                  <i class="fa fa-user"></i> Perfil
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete,
                            class: 'dropdown-item' do %>
                  <i class="fa fa-sign-out"></i> <%= t 'texts.sign_out' %>
                <% end %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to t('texts.sign_in_account'), new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t('texts.sign_up_account'), new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
          <% if admin_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_admin.email %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to admins_backoffice_welcome_index_path, class: 'dropdown-item' do %>
                  <i class="fa fa-users"></i> Admin
                <% end %>
                <%= link_to destroy_admin_session_path, method: :delete,
                            class: 'dropdown-item' do %>
                  <i class="fa fa-sign-out"></i> <%= t 'texts.sign_out' %>
                <% end %>                            
              </div>
            </li>
          <% end %>
        </ul>
        <%= form_with url: site_search_path, local: true, method: :get, class: "form-inline mt-2 mt-md-0" do |form| %>
          <%= form.text_field :term, class: 'form-control mr-sm-2', placeholder: t('texts.search'), 'aria-label': 'Search' %>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <%= t 'actions.search' %>
          </button>
        <% end %>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Seja bem vindo!</h1>
        <p>Esse é o Time to Answer, aqui você pode errar à vontade, para acertar na hora da prova.</p>
      </div>

      <%= yield %>
    </main>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>

    <%# Notice center %>
    <% if notice %>
      <%= javascript_tag do %>
        $.bootstrapGrowl('<%= notice %>', {
          type: 'success',
          offset: { from: 'top', amount: 20 },
          align: 'right',
          width: 250,
          delay: 4000,
          allow_dismiss: true,
          stackup_spacing: 10
        });
      <% end %>
    <% end %>

  </body>
</html>
